body{
	background: url( "http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Xerath_0.jpg");
	background-repeat: no-repeat; 
	background-size: cover;

}




#con{
	color: white;
}


#he{
	color:white;
}
