<!DOCTYPE html>
<html>
<head>
	<title> Contact Me</title><link rel="stylesheet" type="text/css" href="{{url_for('static', filename='contact.css')}}">
</head>
<body>

<div> 
	<a href="{{url_for('main')}}"> Main Page</a><br><br>
	<a href="{{url_for('about')}}"> About Me</a><br><br>
	<a href="{{url_for('contact')}}"> Contact Me</a>
</div>



<h1 style= color: white; id="he"> Contact Me</h1>

<table id="con">
<tr><td> Facebook:</td><td>Sela Peleg</td></tr>
<tr><td> Phone Number:</td><td>0000000000</td></tr>
<tr><td>Email:</td><td> sela.peleg@gmail.com</td></tr>
</table>
</body>
</html>