<!DOCTYPE html>
<html>
 <head>
 <title> Home Page </title><link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
 </head>

 <body>
<div> 
	<a href="{{url_for('main')}}"> Main Page</a><br><br>
	<a href="{{url_for('about')}}"> About Me</a><br><br>
	<a href="{{url_for('contact')}}"> Contact Me</a>
</div>

<h1>
	ME :)
</h1>
<div id="dadiv">
	<p class="me">
		Hi, I'm Sela. I live in Alon-Hagalil and Study in Nahalal. <br>I have 3 brothers and a dog, I like computer games, music and movies. <br></p>
		
</div>

</body>
</html>